<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
    <Appenders>
        <Console name="stdout">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %c{1}: %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <!-- Log levels: Trace < Debug < Info < Warn < Error < Fatal -->
    <Loggers>
        <Logger name="fr.unice.polytech.si3.ps5.teamb.diceforge.Game" level="trace" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Logger name="fr.unice.polytech.si3.ps5.teamb.App" level="trace" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>